<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
 <ion-card>
 <ion-card-header>
 <center><ion-text color="danger"><h1>E-Muncipality App</h1></ion-text></center>
 </ion-card-header>
 <ion-item>
 Connecting to your Muncipality
            <ion-icon name="people" color="primary"></ion-icon>

 </ion-item>
 <ion-item>
 Send your complaints online in a click
            <ion-icon name="add" color="primary"></ion-icon>
 
 </ion-item>
 <ion-item>
 Add your common problems and discuss with your nearest people
            <ion-icon name="reader" color="primary"></ion-icon>

 </ion-item>
 <ion-item>
 For more information contact us +919567354300
 </ion-item>
 </ion-card>

</div>
</ion-content>
