

<ion-content [fullscreen]="true">
  
<div id="container">
 <ion-card>
 <img src="../assets/img/muncipality.png">
 <ion-card-header>
 <center><ion-text color="danger"><h1><b>E-Muncipality App</b></h1></ion-text></center>
 </ion-card-header>
 <ion-item>
 Connecting to your Muncipality
            <ion-icon name="people" color="primary"></ion-icon>

 </ion-item>
 <ion-item>
 Send your complaints online in a click
            <ion-icon name="add" color="primary"></ion-icon>
 
 </ion-item>
 <ion-item>
 Add your common problems and discuss with your nearest people
            <ion-icon name="reader" color="primary"></ion-icon>

 </ion-item>
  <ion-button [routerLink]="['/registration']">Register</ion-button>
   <ion-button [routerLink]="['/login']">Login</ion-button>
 </ion-card>


  
  </div>
</ion-content>
